/* AutoPlay.css */
.slider-container {
    height: 80vh;
    max-width: 1536px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
    
  .slider-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    font-weight: bold;
    width: fit-content;
    height: auto;
  }
  
  .slider-image {
    height:600px;
    width: auto;
  }
  
  /* Add more styles as needed */
  